@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Playfair Display', serif;
    /* overflow-x: hidden; */
}

p, strong{
    font-family: 'Open Sans', sans-serif;
}


body{
    /* background: url(https://images.pexels.com/photos/4612381/pexels-photo-4612381.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    background-color: #F4EAE6;
    /* opacity: 20%; */
    height: 200vh
}

.curve{
    position: absolute;
    z-index:-1;
    transform: rotate(180deg);
    top: 0;
    fill: red !important;
}

/* term defined classes */

.max-width-30{
    max-width: 30%;
}

.max-width-40{
    max-width: 40%;
}


/* Navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: transparent;
    position: sticky;
    top: 0;
    transition: 200ms;
    z-index: 100;
    /* margin: 0 5%; */
}

.navbar .nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-logo h1{
    margin-left: 10px;
}

.nav-logo{
    z-index: 0;
}

.nav-links{
    display: flex;
    list-style-type: none;
}

.nav-link{
    justify-content: end;
    margin: 0 15px;
    
    
}

.nav-link a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav-toggler{
    display: none;
}

.content img{
    max-width: 300px;
}


/* ------------------------- */
.section{
    margin:50px 0;
}
/* Section 1 */

.container{
    display: flex;
    justify-content: space-between;
    /* margin: 0 10%; */
    /* max-height: 40vh; */
}

.btn{
    padding: 10px;
    border-radius: 20px;
    transition: 200ms;
    
}

.left-container .button-container{
    /* border:solid; */
    width: 100%;
}

.left-container .button-container input{
    width: 100%;
}

.btn.btn-action{
    background-color: #e2aa94;
}


.container .left-container{
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-st;
    /* background-color: blue; */

}

.card-container{
    overflow:hidden;
}

.right-container{
    overflow:hidden;
}

.container .left-container, .container .right-container{
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}

.container .left-container div{
    /* border: solid; */
    max-width: 300px;
    margin: 10px 0;
}
.strongify-1{
    font-size: 50px;
}

.strongify-2{
    font-size: 40px;
}


.container .right-container .card-container{
    display: flex;
    flex-direction: column;
    /* border: black 3px dotted; */
    justify-content: center;
    padding: 30px 20px;
    /* align-items: center; */
    background-color: black;
    color: white;
    margin-top: 100px;
    line-height: 30px;
    margin-right: -120px;
    z-index: 3;

    
}

.container .right-container .card-container h2{
    font-size: 20px;
}

.container .right-container .card-container img{
    max-width: 200px;

    /* border: solid 3px red; */
}

.image-container{
    /* padding: 20vh  30%; */
    margin: 3vh 0;
    /* left: 100px; */
    /* width: 100%; */
    /* border: dotted 4px black; */
    
}
.image-container img{
    
    max-width: 400px;
    /* border:red 3px solid; */
    /* border-radius: 20px; */
    /* margin-top: 10% */
    transition: 200ms;
}

.btn:hover{
    box-shadow: 10px 5px 0px black;
    cursor: pointer;
}

.image-container img:hover{
    box-shadow: 20px 15px 0px #2F5061;
    top: 0;
    margin: 0px 20px;
}

.process-card:hover{
    box-shadow: 10px 10px 0px black;
    margin: 0 20px;
}

/* Section 2 */

.container .left-container div p{
    color: #A64B2A;
}

.section2 .container .right-container{
    justify-content: center;
    align-items: flex-start;
}

.count-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 0;
    /* background-color: red; */
}
.count-container h3{
    font-size: 30px;
    color: #A64B2A;
}

.count-title-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 0 !important;
}

.count-title-container p{
    font-size: 20px;
}
    
/* Section 3 */

.step-desc-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* border: dotted 4px red; */
}

.process-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
    /* min-width: 20%; */
    max-width: 20%;
    min-height: 300px;
    border: solid 2px;
    transition: 200ms;
}

.process-card .step-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.process-card h3{
    font-size: 30px;
    background-color: black;
    padding: 20px 35px;
    color: white;
    /* width: 10% */
}



.process-card1{
    
}

.process-card2{
    
}

.process-card3{
    
}


@media screen and (max-width: 900px) {
    /* Navbar */

    .nav-toggler{
        display: block;
        z-index: 4;
    }

    .nav-links{
        display: block;
        position: fixed;
        /* top: 80px; */
        top: 0;
        width: 100%;
        left:100%;
        padding:0;
        transition: 200ms;
    }

    /* .nav-link:first-child{
        padding-top:0;
    } */
    .nav-link{
        margin:0;
        height: 20px;
        display: block;
        padding: 20px;
        background-color: #ffff;
        border: solid 1px;
        border-color: lightslategrey;
    }

    .nav-link:first-child{
        background-color: transparent;
        padding-bottom: 40px;
        border: none;
    }

    /* ----------------------- */


    .container{
        flex-direction: column;
        align-items: center;
        /* direction: ltr; */
    }

    .container .left-container, .container .right-container{
        width: 100%;
        /* background-color: red; */
    }

    .section1 .container .right-container{
        /* background-color: red; */
        flex-direction:column-reverse;
        justify-content: center !important;
        align-items: center !important;
    }
    .section1 .container .right-container .card-container{
        margin: -200px -50px 20px 0;
    }

    .container .left-container div{
        max-width: 80%;
    }

    .page-title {
        margin-top: 30px;
    }

    .section2 .container .right-container{
        text-align: center;
    }


    /* Section 3 */

    .step-desc-container{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .process-card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 40px;
        /* min-width: 20%; */
        max-width: 60%;
        margin-top: 20px;
        min-height: 300px;
        border: solid 2px;
        transition: 200ms;
    }

    .process-card1{
        margin-top: 0;
    }
    
}